body, input, button
{
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	background-color: #FFFFFF;
}


.bolding .nav-link.active {
    color: #FFFFFF!important;
}
/*
.badge-primary{
    background-color: #0E4B77!important;
}

*/
.badge-secondary{
    background-color: #686058!important;
}
/*
.badge-success{
    background-color: #686058!important;
}
*/
.badge-danger{
    background-color: #FA8072!important;
}
 
.badge-warning{
    color: white!important;
    background-color: #0E4B77!important;
}
/*
.badge-info{
    background-color: #0E4B77!important;
}


/*
.nav-pills .nav-link.active {
    background-color: #1169C8!important;
}


*
{
	box-sizing: border-box;
}





.red .active a,
.red .active a:hover {
    background-color:  #686058;
}


.nav-pills > .active > a, .nav-pills > .active > a:hover
{
    background-color: #686058;
}
 */

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}


[role="main"] {
  padding-top: 49px; /* Space for fixed navbar */
}


.p-4 a:hover
{
    color: #51CAEA;
}

.p-4 a:active
{
    color: #51CAEA;
}
